{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" style="width: 400px" data-qtip='{"position": {"my": "right center", "adjust": {"x": 430, "y": 200}}}'>
        <p>If you were the astronaut floating away into space, what could you do to make yourself drift back toward the space shuttle?</p>
        <p>Rank the following options by how close they'll get you to the space shuttle (1 = best, 4 = worst).</p>
        <p>
            <label>
                <input type="text" name="answer" placeholder="?" style="width: 2em">
                Swim in the direction of the space shuttle.
            </label>
            <label>
                <input type="text" name="answer" placeholder="?" style="width: 2em">
                Throw your 100 kg backpack in the direction opposite to the space shuttle.
            </label>
            <label>
                <input type="text" name="answer" placeholder="?" style="width: 2em">
                Throw your 1 kg wrench in the direction opposite to the space shuttle.
            </label>
            <label>
                <input type="text" name="answer" placeholder="?" style="width: 2em">
                Throw your 100 kg backpack in the direction of the space shuttle.
            </label>
        </p>
    </div>
{{/videoframeQuestion}}
