<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p><strong>True or false</strong>: once a rocket is in space, it is impossible for it to accelerate or change direction.</p>

        <p>Select the best answer below, and be careful to make sure the reasoning is correct!</p>

        <p>
            <label class="radio">
                <input type="radio" name="answer" value="t1">
                <strong>True</strong>. Space is void of air, so the rockets have nothing to push against.
            </label>
            <label class="radio">
                <input type="radio" name="answer" value="t2">
                <strong>True</strong>. Gravity is absent in space, so there is no normal force, making acceleration impossible.
            </label>
            <label class="radio">
                <input type="radio" name="answer" value="f1">
                <strong>False</strong>. Rockets accelerate in space by accelerating fuel particles in the opposite direction.
            </label>
            <label class="radio">
                <input type="radio" name="answer" value="f2">
                <strong>False</strong>. There is no resistance in space, so nothing stops a rocket from accelerating.
            </label>
        </p>
        {{>submit-area}}
    </form>
</div>
