<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Which of the following options do you think best describes Newton's Third Law mathematically?</p>

        <p>
            <label class="radio">
                <input type="radio" name="answer" value="a">
                <code>F = ma</code>
            </label>
            <label class="radio">
                <input type="radio" name="answer" value="b">
                <code>F (a \rightarrow b) = F (b \rightarrow a)</code>
            </label>
            <label class="radio">
                <input type="radio" name="answer" value="c">
                <code>\sum(\mbox{all forces at rest}) = 0</code>
            </label>
        </p>
        {{>submit-area}}
    </form>
</div>
