<div class="submit-area">
    <span class="alert alert-success">
        <img class="face" src="/images/face-smiley.png">
        Correct!
        <a class="submit" href="javascript:void 0">Keep watching</a>
        to make sure you understand why.
    </span>
    <span class="alert alert-error">
        <img class="face" src="/images/face-sad.png">
        Sorry, no.
        Try again, or
        <a class="skip" href="javascript:void 0">keep watching</a>
        for the explanation.
    </span>
    <span class="buttons">
        <a class="skip simple-button" href="javascript:void 0">
            Skip
        </a>
        <button type="submit" class="submit simple-button green">
            Submit
        </button>
    </span>
</div>
