{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" style="width: 350px" data-qtip='{"position": {"my": "top center", "adjust": {"x": 445, "y": 145}}}'>
        <p>What will happen if two people are pushing on opposite sides of the rock with equal force?</p>
        <p>
            <label class="radio"><input type="radio" name="answer" value="up"> The rock will move up</label>
            <label class="radio"><input type="radio" name="answer" value="right"> The rock will move right</label>
            <label class="radio"><input type="radio" name="answer" value="down"> The rock will move down</label>
            <label class="radio"><input type="radio" name="answer" value="left"> The rock will move left</label>
            <label class="radio"><input type="radio" name="answer" value="none"> None of the above</label>
        </p>
    </div>
{{/videoframeQuestion}}
