<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Imagine you are standing on a huge rock that is moving really fast through a large space, but at a constant velocity. All you can see is the ground you are standing on, and blue sky. There is no sun, stars or clouds. How can you tell if you are moving?</p>

        <label class="radio"><input type="radio" name="answer" value="up"> If gravity is holding me on the ground, the rock must be pushing from below. The rock &amp; I are moving upward.</label>
        <label class="radio"><input type="radio" name="answer" value="none"> There is no way to tell if the rock &amp; I are moving.</label>
        <label class="radio"><input type="radio" name="answer" value="stationary"> Because I can't see anything moving, we are not moving at all.</label>

        {{>submit-area}}
    </form>
</div>
