<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>The surface of the planet Lubricon VI, which has no atmosphere, is perfectly flat and smooth. So smooth, in fact, that no object experiences friction as it glides across the surface of the planet.</p>
        <p>At this very moment, a frozen sock is travelling across the surface at 1 km/h. What will happen to the sock? It will:</p>

        <label class="radio">
            <input type="radio" name="answer" value="a">
            Slowly decelerate and come to rest.
        </label>
        <label class="radio">
            <input type="radio" name="answer" value="b">
            Quickly decelerate and come to rest.
        </label>
        <label class="radio">
            <input type="radio" name="answer" value="c">
            Accelerate to the speed of light.
        </label>
        <label class="radio">
            <input type="radio" name="answer" value="d">
            Move at a constant velocity, orbiting the planet for all eternity at an altitude of zero.
        </label>
        <label class="radio">
            <input type="radio" name="answer" value="e">
            Attain <a href="http://en.wikipedia.org/wiki/Sentience" target="_blank">sentience</a>.
        </label>

        {{>submit-area}}
    </form>
</div>
