<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Newton's First Law tells us that an object stays at a constant velocity unless it is acted upon by an unbalanced force.</p>
        <p>Image you're driving your car on the highway, just below the speed limit.</p>
        <p>In order to keep the car travelling at a constant velocity, you need to keep your foot on the "accelerator" so that the engine continues to burn fuel.</p>
        <p>What are the primary balancing forces that keep the car from accelerating forward in this situation?</p>

        <label class="checkbox">
            <input type="checkbox" name="answer">
            Friction between tyres and road
        </label>
        <label class="checkbox">
            <input type="checkbox" name="answer">
            Air resistance
        </label>
        <label class="checkbox">
            <input type="checkbox" name="answer">
            Friction between moving parts in the car (engine, transmission, axles)
        </label>
        <label class="checkbox">
            <input type="checkbox" name="answer">
            The gravitational force of the car in front me
        </label>

        {{>submit-area}}
    </form>
</div>
