<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <div class="equation">
        <code>
            A =
            \begin{bmatrix}
            3 & -1 & 9 \\
            2 & 0 & 0
            \end{bmatrix}

            \hspace{20pt}

            B =
            \begin{bmatrix}
            -7 & 2 \\
            3 & 5
            \end{bmatrix}

            \hspace{20pt}

            C =
            \begin{bmatrix}
            -7 & 2 & 4\\
            3 & 5 & 8
            \end{bmatrix}

            \hspace{20pt}

            D =
            \begin{bmatrix}
            -7 & 2 \\
            3 & 5

            \end{bmatrix}

        </code>
        </div>
        <p>Given the above matrices, which of the following expressions are valid examples of matrix addition? Check the box if it's possible to add the two matrices.</p>

        <label class="checkbox inline"><input type="checkbox" name="answer"><code>A+B</code></label>
        <label class="checkbox inline"><input type="checkbox" name="answer"><code>D+A</code></label>
        <label class="checkbox inline"><input type="checkbox" name="answer"><code>A+C</code></label>
        <label class="checkbox inline"><input type="checkbox" name="answer"><code>B+D</code></label>
        <label class="checkbox inline"><input type="checkbox" name="answer"><code>C+D</code></label>

        {{>submit-area}}
    </form>
</div>
