{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" style="width: 400px" data-qtip='{"position": {"my": "top right", "adjust": {"x": 450, "y": 130}}}'>
        <p>
            To find the largest factor, we need
            to think about numbers that are factors
            of both the numerator and the denominator.
        </p>
        <p>Which of the following numbers are factors of both 48 and 64?</p>
        <p>Check all that apply.</p>

        <div style="text-align: center">
            <label class="checkbox inline"><input type="checkbox" name="answer"> 2</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 3</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 5</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 8</label>
            <br>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 16</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 24</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> 32</label>
            <label class="checkbox inline"><input type="checkbox" name="answer"> None</label>
        </div>
    </div>
{{/videoframeQuestion}}
