<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Let's see if you can do a similar problem.</p>
        <p>Express <code>\dfrac{36}{108}</code> in lowest terms. Write your answer below.</p>

        <code>\dfrac{36}{108} = </code>
        <span class="fraction-input" style="width: 60px">
            <input type="text" name="numerator" placeholder="?">
            <hr>
            <input type="text" name="denominator" placeholder="?">
        </span>

        {{>submit-area}}
    </form>
</div>
