{{#videoframeQuestion submitKind="submit-area-pre"}}
        <div class="qtip-question" data-qtip='{"position": {"my": "left top", "adjust": {"x": 280, "y": 95}}}'>
            <p>Let's see if you can work this out first.</p>
            <p>Which of the following is <code>\dfrac{48}{64}</code> in lowest terms?</p>

            <label class="radio inline">
                <input type="radio" name="answer" value="a">
                <code>\dfrac{48}{32}</code>
            </label>
            <label class="radio inline">
                <input type="radio" name="answer" value="b">
                <code>\dfrac{6}{8}</code>
            </label>
            <label class="radio inline">
                <input type="radio" name="answer" value="c">
                <code>\dfrac{24}{32}</code>
            </label>
            <label class="radio inline">
                <input type="radio" name="answer" value="none">
                None of these
            </label>
        </div>
{{/videoframeQuestion}}
