{{#videoframeQuestion submitKind="submit-area-pre"}}
    <div class="qtip-question" data-qtip='{"position": {"my": "left top", "adjust": {"x": 315, "y": 150}}}'>
        <p>Let's see if you already know this.</p>
        <p>Do the force of gravity and the normal force <br />
            cancel each other out in the case of the banana?</p>
        <label class="radio">
            <input type="radio" name="answer" value="yes">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="answer" value="no">
            No
        </label>
    </div>
{{/videoframeQuestion}}
