{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" style="width: 350px" data-qtip='{"position": {"my": "left top", "adjust": {"x": 310, "y": 185}}}'>
        <p>Before Sal explains the answer, what do you think will happen?</p>
        <p>After doubling the force, the acceleration will...</p>
        <p>
            <label class="radio"><input type="radio" name="answer" value="squared"> be squared</label>
            <label class="radio"><input type="radio" name="answer" value="double"> double</label>
            <label class="radio"><input type="radio" name="answer" value="unchanged"> remain unchanged</label>
            <label class="radio"><input type="radio" name="answer" value="halve"> halve</label>
        </p>
    </div>
{{/videoframeQuestion}}
