{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" data-qtip='{"position": {"my": "bottom right", "adjust": {"x": 590, "y": 320}}}'>
        <p>Let's see if you can solve this before Sal does.</p>
        <p>What will the acceleration be in the problem just mentioned?</p>
        <p>
            <input type="text" name="a" placeholder="?" style="width: 3em">
            m/s&sup2;.
        </p>
    </div>
{{/videoframeQuestion}}
