{{#videoframeQuestion submitKind="submit-area-pre"}}
    <div class="qtip-question" data-qtip='{"position": {"my": "top right", "adjust": {"x": 535, "y": 75}}}'>
        <p>Let's see if you already know this.</p>
        <p>Are these fractions equivalent?</p>
        <p>
            <label class="radio inline">
                <input type="radio" name="answer" value="yes">
                Yes
            </label>
            <label class="radio inline">
                <input type="radio" name="answer" value="no">
                No
            </label>
        </p>
    </div>
{{/videoframeQuestion}}
