<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Let's practice that again. Solve for <code>a</code> in the following equation.</p>

        <div style="text-align: center">
            <code>a - 8 = 25</code>
        </div>

        <div style="text-align: center">
            <code>a = </code>
            <input type="text" placeholder="?" style="width: 2em" name="answer">
        </div>

        {{>submit-area}}
    </form>
</div>
