{{#videoframeQuestion submitKind="submit-area-pre-no-answer"}}
    <div class="label" style="left: 150px; top: 90px; ">
        <code>a =</code>
    </div>
    <div class="inputtext" style="position: absolute; width: 35px; height: 25px; left: 195px; top: 90px; ">
        <input type="text" name="answer" placeholder="?">
        <span class="qtip-question" data-qtip-target="input" data-qtip='{"position": {"my": "top middle", "at": "bottom middle"}}'>
            Before Sal shows you how to do this,<br>
            what do you think the answer is?
        </span>
    </div>
{{/videoframeQuestion}}
