{{#videoframeQuestion submitKind="submit-area"}}
    <div class="qtip-question" style="width: 300px" data-qtip='{"position": {"my": "bottom right", "adjust": {"x": 605, "y": 185}}}'>
        <p>Based on Sal's drawing of the pie, do you think 4/8 of a pie is equivalent to a half a pie?</p>
        <label class="radio inline"><input type="radio" name="answer" value="yes"> Yes</label>
        <label class="radio inline"><input type="radio" name="answer" value="no"> No</label>
    </div>
{{/videoframeQuestion}}
