{{#videoframeQuestion submitKind="submit-area-pre-no-answer"}}
    <span class="fraction-input" style="width: 60px; position: absolute; left: 330px; top: 45px">
        <input type="text" name="numerator" placeholder="?">
        <hr>
        <input type="text" name="denominator" placeholder="?">
    </span>
    <div class="qtip-question" data-qtip-target=".fraction-input" data-qtip='{"position": {"my": "left top", "at": "right middle"}}'>
        <p>Let's practice this before Sal does it.</p>
        <p>Write your answer here.</p>
    </div>
{{/videoframeQuestion}}
