{{#videoframeQuestion submitKind="submit-area-pre-no-answer"}}
    <div class="inputtext" style="position: absolute; width: 45px; height: 25px; left: 360px; top: 40px; ">
        <input type="text" name="answer" placeholder="?">
        <div class="qtip-question" data-qtip-target="input" data-qtip='{"position": {"my": "left top", "at": "right middle"}}'>
            What value for the numerator will make<br>
            these fractions equivalent?
        </div>
    </div>
{{/videoframeQuestion}}
