<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <p>Mr. Hamster weighs 5N. While plumetting through the air, the resistance of the air applies a 5N upward force to him. Gravity and air resistance are the only forces acting on him. Are the forces acting on him balanced as he falls?</p>
        <p>
            <label class="radio inline">
                <input type="radio" name="answer" value="yes">
                Yes
            </label>
            <label class="radio inline">
                <input type="radio" name="answer" value="no">
                No
            </label>
        </p>

        {{>submit-area}}
    </form>
</div>
