{{#videoframeQuestion submitKind="submit-area-pre"}}
        <div class="qtip-question" data-qtip='{"position": {"my": "left top", "adjust": {"x": 108, "y": 340}}}'>
            <p>Let's see if you already know this.<br />
            Click the checkbox next to the scenarios that have unbalanced (net) forces.</p>
        </div>
        <div style="position: absolute; left: 25px; top: 60px;">
            <input type="checkbox" name="answer">
        </div>
        <div style="position: absolute; left: 230px; top: 60px;">
            <input type="checkbox" name="answer">
        </div>
        <div style="position: absolute; left: 450px; top: 60px;">
            <input type="checkbox" name="answer">
        </div>
        <div style="position: absolute; left: 90px; top: 300px;">
            <input type="checkbox" name="answer">
        </div>
        <div style="position: absolute; left: 400px; top: 300px;">
            <input type="checkbox" name="answer">
        </div>
{{/videoframeQuestion}}
